.contenedor-card {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin-top: 20px;
}

.custom-card {
  background: #ff66b2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border: 2px solid black;
  margin: 30px; 
  max-width: 300px;
  text-align: center;
  transition: transform 0.2s;
}

.custom-card:hover {
  transform: translateY(-10px);
}

.card-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 1.5em;
  margin: 10px 0;
  margin-bottom: 30px; 
}

.card-content p {
  color: #ffffff;
  font-size: 1em;
  margin-bottom: 40px; 
}

.cbutton {
  background: #007bff; 
  border: none;
  border-radius: 4px;
  color: #fff; 
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
}

.cbutton:hover {
  background: #ffffff;
  color: #ff66b2; 
}

.btn_margen_inf{

margin-bottom: 30px;

}