.titulo_Dashboard{

    padding-top: 40px;

    margin-bottom: 50px;
    
    font-size: 2em;

    text-align: center;
    
    }
    
    .subtitulo_Dashboard{
    
    margin-bottom: 70px;
    
    text-align: center;

    }