.song-list {
  list-style-type: none;
  padding: 0;
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.song-item > div {
  flex-grow: 1; /* Permite que el contenido principal crezca */
  margin-right: 1rem; /* Espacio entre el contenido y el botón */
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff1a1a;
}
