/* Tabla_Suscripciones.css */
.titulo-suscripciones {
    text-align: center;
    padding: 60px;
  }
  
  .button-volver-suscripciones {
    background: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .button-volver-suscripciones:hover {
    background: #00f7ff;
    color: #ff66b2;
  }
  
  .button-agregar-suscripcion {
    background: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .button-agregar-suscripcion:hover {
    background: #34d058;
    color: #fff;
  }
  
  .contenedor-botones-suscripciones {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
  
  .button-volver-suscripciones {
    margin: 0 10px;
  }
  
  .tabla-de-suscripciones {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .tabla-de-suscripciones th,
  .tabla-de-suscripciones td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tabla-de-suscripciones th {
    background-color: #f4f4f4;
  }
  
  .tabla-padding-suscripciones {
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .centrar-th-suscripciones {
    text-align: center;
  }
  
  .form-agregar-suscripcion {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #EAA9A9;
  }
  
  .form-agregar-suscripcion div {
    margin-bottom: 10px;
  }
  
  .form-agregar-suscripcion label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  .btn-agregar-suscripcion {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-agregar-suscripcion:hover {
    background-color: #0056b3;
  }
