@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

main {
  margin-left: 5rem;
}

.navbarVertical {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #eaa9a9;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-item {
  align-items: center;
  width: 100%;
  font-size: 2em;
  margin-top: 30px;
}
.nav-item a {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.nav-item:last-child {
  margin-top: auto;
}

.tituloSeccion {
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

body { 
  margin: 0; 
 -webkit-font-smoothing: antialiased; 
 -moz-osx-font-smoothing: grayscale; 
 background-color: #ffffff; 
}

.TitleRelease {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-size: 1.0625em;
  font-weight: bold;
}
.ArtistRelease {
  font-family: "Inter", sans-serif;
  font-size: 1.0625em;
}

.itemrelease {
  text-align: center;
}
.imgRelease {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .navbarVertical {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .main {
    margin: 0;
  }
}
