.Modificar-boton,
.btn-deshabilitar {
  margin: 0 5px;
  padding: 5px 10px;
}

.imagenes-canciones {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.contenido-centrado-tabla{

display: flex;
justify-content: center;
align-items: center;

}

.centrar-txt{

text-align: center;

}

.centrarBtns{


  display: flex;
  justify-content: center;

}