.titulo-editar-genero {
  text-align: center;
  padding: 50px;
}

.formulario-editar-genero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #EAA9A9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

form div {
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-size: 1rem;
  margin-bottom: 8px;
  display: block;
  color: #ffffff;
}

.botones-formulario {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px;
  border-radius: 10px;
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}
