
.centrarBtns{

  display: flex;
  gap: 10px; 
  align-items: center;

}
.Modificar-boton, 
.btn-deshabilitar {
  padding: 5px 15px;  
  min-width: 100px;  
  text-align: center; 
}

.btn-deshabilitar {
  background-color: red;
  color: white;
}

.Modificar-boton {
  background-color: #ffc107;
  color: white;
}

.Modificar-boton:hover, 
.btn-deshabilitar:hover {
  opacity: 0.8;
}




.centrar-imagen-cancion{

display: flex;
justify-content: center;
align-items: center;

}

.centrar-txt{

text-align: center;

}


.imagenes-cancion {
  width: 250px;  
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

